<table class="table table-xs sm:table-sm table-pin-rows" matSort (matSortChange)="sortData($event)">
  <thead>
    <tr class="bg-inherit">
      <th *ngIf="checkboxes()"></th>
      <th *ngIf="read() && logged" mat-sort-header="lu">Lu</th>
      <th *ngIf="author()" mat-sort-header="auteur">Auteur</th>
      <th *ngIf="title()" mat-sort-header="titre">Titre</th>
      <th *ngIf="edition()" class="hidden lg:table-cell" mat-sort-header="edition">Édition</th>
      <th *ngIf="price() && logged" class="hidden md:table-cell" mat-sort-header="prix">Prix</th>
      <th *ngIf="owner()" class="hidden md:table-cell" mat-sort-header="detenteur">Detenteur</th>
      <th *ngIf="lend()" class="hidden sm:table-cell" mat-sort-header="pret">Prêt</th>
      <th *ngIf="view() || (edit() && logged)"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="hover" *ngFor="let livre of livres">
      <td *ngIf="checkboxes()"><input type="checkbox" class="checkbox checkbox-sm" (change)="updateCheckList(livre.id, $event.target.checked)" [checked]="checkedBooks.includes(livre.id)"/></td>
      <td *ngIf="read() && logged"><fa-icon *ngIf="livre.lu" [icon]="faCheck"></fa-icon></td>
      <td *ngIf="author() && livre.auteur.prenom">{{livre.auteur.nom}}, {{livre.auteur.prenom}}</td>
      <td *ngIf="author() && !livre.auteur.prenom">{{livre.auteur.nom}}</td>
      <td *ngIf="title()">{{livre.titre}}</td>
      <td *ngIf="edition()" class="hidden lg:table-cell">{{livre.edition}}</td>
      <td *ngIf="price() && logged" class="hidden md:table-cell">{{livre.prix  | number : '1.2-2'}}€</td>
      <td *ngIf="owner()" class="hidden md:table-cell">{{livre.getOwners()}}</td>
      <td *ngIf="lend()" class="hidden sm:table-cell"><fa-icon *ngIf="livre.pret" [icon]="faCheck"></fa-icon></td>
      <td *ngIf="view() || (edit() && logged)" class="flex flex-row space-x-2">
        <div><a class="link hover:text-accent" [routerLink]="'/book/'+livre.id"><fa-icon [icon]="faEye"></fa-icon></a></div>
        <div><a class="link hover:text-accent" [routerLink]="'/book/'+livre.id+'/edit'"><fa-icon [icon]="faPen"></fa-icon></a></div>
      </td>
    </tr>
  </tbody>
</table>
