<label class="swap" [class.swap-rotate]="!showLabel">
  <!-- this hidden checkbox controls the state -->
  <input disabled type="checkbox" class="theme-controller" #themeToggle (click)="toggleCheck()"/>
  <span class="swap-off fill-current"><fa-icon [icon]="faSun"></fa-icon><ng-template [ngIf]="showLabel"> Mode clair</ng-template></span>
  <span class="swap-on fill-current"><fa-icon [icon]="faMoon"></fa-icon><ng-template [ngIf]="showLabel"> Mode sombre</ng-template></span>
</label>
