<app-spinner [loading]="livres">
  <div class="grid grid-cols-2 gap-3">

    <div class="stats stats-vertical bg-base-300 md:stats-horizontal shadow w-full col-span-2">

      <div class="stat">
        <div class="stat-title">Livres</div>
        <div class="stat-value">{{getNbLivres()}}</div>
      </div>

      <div class="stat">
        <div class="stat-title">Prix total</div>
        <div class="stat-value">{{getTotalPrice() | number : '1.2-2'}}€</div>
      </div>

      <div class="stat">
        <div class="stat-figure">
          <div class="radial-progress" [style]="'--value:'+getNbLivresLus()*100/getNbLivres()+';'" role="progressbar">{{getNbLivresLus()*100/getNbLivres() | number : '1.2-2'}}%</div>
        </div>
        <div class="stat-title">Livres lus</div>
        <div class="stat-value">{{getNbLivresLus()}}/{{getNbLivres()}}</div>
      </div>

      <div class="stat">
        <div class="stat-title">Prêts</div>
        <div class="stat-value">{{getNbLivresPretes()}}</div>
      </div>
    </div>

    <div *ngIf="favoriteAuthor" class="card bg-base-300 shadow-xl col-span-2 lg:col-span-1">
      <div class="card-body p-0">
        <h2 class="card-title p-5">Auteur favori : {{favoriteAuthor.getDisplayName()}}</h2>
        <app-booklist
          [livres]="livresFromAuthor"
          [owner]="false"
          [author]="false">
        </app-booklist>
      </div>
    </div>

    <div *ngIf="favoriteEdition" class="card bg-base-300 shadow-xl col-span-2 lg:col-span-1">
      <div class="card-body p-0">
        <h2 class="card-title p-5">Edition favorite : {{favoriteEdition}}</h2>
        <app-booklist
          [livres]="livresFromEdition"
          [owner]="false"
          [edition]="false">
        </app-booklist>
      </div>
    </div>
  </div>
</app-spinner>
