<h1 class="text-4xl mb-3">{{pageTitle}}</h1>

<div class="join join-vertical w-full">

  <div class="join-item collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" [checked]="panel === 0" (click)="panel=0"/>
    <div class="collapse-title text-xl font-medium">
      Créer à partir du code barre
    </div>
    <div class="collapse-content">
      <form (ngSubmit)="searchISBN()">
        <label for="isbn">Code barre ou ISBN</label>
        <div class="join join-horizontal w-full flex">
          <input placeholder="Code barre/ISBN" type="text" class="input input-bordered join-item flex-grow" name="isbn" id="isbn" [(ngModel)]="isbn">
          <button-icon [disabled]="searching" (onClick)="searchISBN()" [icon]="searching ? faHourglass : faSearch" [classes]="['btn-secondary', 'join-item']">Rechercher</button-icon>
        </div>
      </form>
    </div>
  </div>

  <div class="join-item collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" [checked]="panel === 1" (click)="panel=1"/>
    <div class="collapse-title text-xl font-medium">
      Saisir ou corriger les infos du livre
    </div>
    <div class="collapse-content">
      <app-book-form [livre]="this.livre" [(addOnCreate)]=addOnCreate [autocompletedLivre]="autoLivre" (livreChange)="newBook($event)" ></app-book-form>
    </div>
  </div>
</div>
