<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img ngSrc="/assets/img/reading_corgi.gif" class="max-w-sm rounded-lg" height="480" width="301"/>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-200">
      <form class="card-body" #userForm="ngForm" (ngSubmit)="login(userForm.value)">
        <div class="form-control">
          <label class="label" for="username" >
            <span class="label-text">Utilisateur</span>
          </label>
          <input type="text" placeholder="username" name="username" id="username" class="input input-bordered" [class.input-error]="authFailure" required ngModel/>
        </div>
        <div class="form-control">
          <label for="password"  class="label">
            <span class="label-text">Mot de passe</span>
          </label>
          <input type="password" placeholder="password" name="password" id="password" class="input input-bordered" [class.input-error]="authFailure" required ngModel/>
        </div>
        <p *ngIf="authFailure" class="text-error">Erreur lors de l'authentification</p>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
