<form *ngIf="users && livre" (ngSubmit)="emitBook()" class="grid gap-y-3 gap-x-1 grid-cols-2">

  <div class="col-span-2 md:col-span-1">
    <label for="titre">Titre</label>
    <input placeholder="Titre" type="text" class="input input-bordered w-full" name="titre" id="titre" [class.is-valid]="autocompletedLivre.titre" [(ngModel)]="livre.titre">
  </div>

  <div class="col-span-2 md:col-span-1">
    <label for="nom">Auteur</label>
    <div class="join join-horizontal w-full">
      <input placeholder="Nom" type="text" class="input input-bordered w-1/2 join-item" [class.is-valid]="autocompletedLivre.auteur.nom" name="nom" id="nom" [(ngModel)]="livre.auteur.nom">
      <input placeholder="Prenom" type="text" class="input input-bordered w-1/2 join-item" [class.is-valid]="autocompletedLivre.auteur.prenom" name="prenom" id="prenom" [(ngModel)]="livre.auteur.prenom">
    </div>
  </div>

  <div class="col-span-2 sm:col-span-1">
    <label for="edition">Edition</label>
    <input placeholder="Edition" type="text" class="input input-bordered w-full" name="edition" id="edition" [(ngModel)]="livre.edition" [class.is-valid]="autocompletedLivre.edition">
  </div>
  <div class="col-span-2 sm:col-span-1">
    <label for="prix">Prix</label>
    <input placeholder="Prix" type="number" min="0" step="0.01" class="input input-bordered w-full" name="prix" id="prix" [(ngModel)]="livre.prix" [class.is-valid]="autocompletedLivre.prix">
  </div>

  <div class="col-span-2">
    <div class="label">
      <span class="label-text">Prêté</span>
    </div>
    <select name="pret" id="pret" class="select select-bordered " [(ngModel)]="livre.pret">
      <option [ngValue]="true">Oui</option>
      <option [ngValue]="false">Non</option>
    </select>
  </div>

  <div class="col-span-2">
    <div *ngFor="let tag of tags">
      <label class="label cursor-pointer p-0 justify-start space-x-2">
        <input type="checkbox" class="toggle" [checked]="contains(tag)" (change)="updateTag(tag, $event.target.checked)" [id]="'switchTag'+tag.id" />
        <span class="label-text"><app-badge [icon]="tag.icon" [color]="tag.color">{{tag.label}}</app-badge></span>
      </label>
    </div>
  </div>

  <div class="col-span-2" *ngIf="addOnCreate !== undefined">
    <label class="label cursor-pointer justify-start space-x-2">
      <input type="checkbox" class="toggle" [checked]="addOnCreate" (change)="changeAddOnCreate()" id="flexSwitchCheckDefault" />
      <span class="label-text">Ajouter à ma bibliothèque</span>
    </label>
  </div>

  <div>
    <button type="submit" class="btn btn-primary m-1">Valider</button>
    <button (click)="cancel()" class="btn btn-error">Annuler</button>
  </div>
</form>
