
.badge-blue{
  border-color: theme('colors.blue.300');
}

.badge-indigo{
  border-color: theme('colors.indigo.300');
}

.badge-purple{
  border-color: theme('colors.purple.300');
}

.badge-pink{
  border-color: theme('colors.pink.300');
}

.badge-red{
  border-color: theme('colors.red.300');
}

.badge-orange{
  border-color: theme('colors.orange.300');
}

.badge-yellow{
  border-color: theme('colors.yellow.300');
}

.badge-green{
  border-color: theme('colors.green.300');
}

.badge-teal{
  border-color: theme('colors.teal.300');
}

.badge-cyan{
  border-color: theme('colors.cyan.300');
}

.badge-gray{
  border-color: theme('colors.gray.300');
}

